<div class="search-container">
  <input
    [formControl]="searchQuery"
    placeholder="Search pokemon by name or id"
  />
  <ng-container *ngIf="isVisible && (results$ | async) as results">
    <div class="results">
      <div *ngIf="results.totalItems === 0 else content">
        <p class="result">No pokemon found</p>
      </div>

      <ng-template #content>
        <p
          *ngFor="let result of results.items"
          (click)="clearSearchResults()"
          [routerLink]="['pokemon', result.name]"
          class="result"
        >
          <img [src]="result.imageUrl" [alt]="result.name"/>
          <span>{{result.name}}</span>
        </p>
      </ng-template>
    </div>
  </ng-container>
</div>
