.pokemon {
  display: flex;
  padding-top: 30px;
}

.pokemon .image {
  width: 250px;
  margin-right: 25px;
}

.pokemon .image img {
  width: 100%;
}

.details-row  {
  margin-bottom: 15px;
  padding: 5px;
}

.pokemon .details h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.pokemon .details .type {
  margin-right: 10px;
  padding: 3px 5px;
  background-color: #ff1616;
  color: #fff;
  border-radius: 6px;
}

