.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.lds-dual-ring:after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #ff1616 transparent #ff1616 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
